<html>
	<h1> automatic attributes </h1>
	node[fqdn] <%= node['fqdn'] %> <br/>
	node[platform] <%= node['platform'] %> <br/>
	node[platform_version] <%= node['platform_version'] %> <br/>
	node[ipaddress] <%= node['ipaddress'] %> <br/>
	node[macaddress] <%= node['macaddress'] %> <br/>
	node[hostname] <%= node['hostname'] %> <br/>
	node[domain] <%= node['domain'] %> <br/>
	node[recipes] <%= node['recipes'] %> <br/>
	node[roles] <%= node['roles'] %> <br/>
	node[ohai_time] <%= node['ohai_time'] %> <br/>
</html>
